<div class="user-menu-container">
  <ng-container *ngIf="isLoggedIn && currentUser">
    <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
      <mat-icon>account_circle</mat-icon>
      <div class="user-menu-label">
        <span class="hello-text">Hello, {{ currentUser.name || 'User' }}</span>
        <span class="account-text">Account & Lists</span>
      </div>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    
    <mat-menu #userMenu="matMenu" xPosition="before" class="user-dropdown">
      <div class="menu-header">
        <span class="user-name">{{ currentUser.name }}</span>
        <span class="user-email">{{ currentUser.email }}</span>
      </div>
      
      <div class="menu-content">
        <div class="menu-section">
          <h4>Your Account</h4>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="viewOrders()">
            <mat-icon>shopping_bag</mat-icon>
            <span>Your Orders</span>
          </button>
        </div>
      </div>
      
      <mat-divider></mat-divider>
      
      <button mat-menu-item (click)="logout()" class="logout-item">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </ng-container>
</div>
